.cards {
  padding-top: 20px;
  margin: 0 80px;
  border-bottom: 1px rgba(33, 33, 33, 0.4) solid;
}

.cards__list {
  list-style-type: none;
  gap: 40px 20px;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, 413px);
  justify-content: center;
}

@media screen and (max-width: 627px) {
  .cards__list {
    grid-template-columns: repeat(auto-fit, 288px);
  }
}
