.card__image {
  margin-bottom: 12px;
  height: 413px;
  width: 100%;
  object-fit: cover;
  border-radius: 8px;
  display: block;
}

.card__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card__like-button {
  width: 23px;
  height: 20px;
  border: none;
  background: transparent url(../images/heart-icon.svg) center/contain no-repeat;
  opacity: 40%;
  cursor: pointer;
}

.card__like-button:hover {
  cursor: pointer;
  opacity: 100%;
}

.card__title {
  margin: 0;
  font-size: 20px;
  line-height: 1.2;
  font-weight: 500;
  max-width: 353px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media screen and (max-width: 627px) {
  .card__image {
    height: 288px;
  }

  .card__title {
    max-width: 235px;
    font-size: 16px;
    line-height: 16px;
  }
}
