.card__image {
  height: 413px;
  width: 100%;
  object-fit: cover;
  border-radius: 5px;
  display: block;
}

.card__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card__like-button {
  background-image: url(../images/heart-icon.svg);
  width: 23px;
  height: 20px;
  border: none;
  background-color: transparent #212121;
  opacity: 40%;
}

.card__like-button:hover {
  cursor: pointer;
  opacity: 100%;
}

.card__title {
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 1;
  max-width: 288px;
  -webkit-box-orient: vertical;
}

@media screen and (max-width: 627px) {
  .card__image {
    height: 288px;
  }
}
