.footer {
  display: flex;
  justify-content: center;
  padding: 60px;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
}

.footer__text {
  margin: 0;
  font-size: 16px;
  font-weight: 400;
  color: #212121b2;
}
