.modal {
  visibility: hidden;
  opacity: 0;
  transition:
    opacity 0.7s ease,
    visibility 0.7s ease;
  background-color: #00000080;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal_is-opened {
  visibility: visible;
  opacity: 1;
}

.modal__container {
  max-width: 730px;
  width: 100%;
  border-radius: 8px;
  background-color: #fff;
  position: relative;
  padding: 32px 50px;
  justify-content: center;
}

.modal__close-btn {
  position: absolute;
  top: 32px;
  right: 50px;
  width: 40px;
  height: 40px;
  background: url("../images/xIcon.svg") center no-repeat #fff;
  filter: opacity(0.4);
  border: none;
}

.modal__title {
  margin: 0 0 32px;
  font-size: 32px;
  font-weight: 500;
  line-height: 100%;
  letter-spacing: 0%;
  font-family: Poppins, Arial, Helvetica, sans-serif;
}

.modal__form {
  display: flex;
  flex-direction: column;
  height: 272px;
}

.modal__input {
  display: block;
  margin: 8px 0 0;
  width: 100%;
  height: 52px;
  border: 1px #2121214d solid;
  box-sizing: border-box;
  border-radius: 8px;
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  font-family: Poppins, Arial, Helvetica, sans-serif;
  padding-left: 12px;
}

.modal__label {
  margin: 0 0 32px;
  color: #2121217d;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0%;
  line-height: 110%;
  font-family: Poppins, Arial, Helvetica, sans-serif;
}

.modal__submit-btn {
  background-color: #212121;
  max-width: 156px;
  height: 52px;
  border-radius: 8px;
  margin-bottom: 0;
  color: #fcf5e5;
  font-size: 16px;
  font-family: Poppins, Arial, Helvetica, sans-serif;
}

.modal__input::placeholder {
  color: #2121213d;
}

@media screen and (max-width: 627px) {
  .modal__container {
    height: 330px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 12px 12px;
    margin: 12px 12px;
  }

  .modal__title {
    height: 40px;
    font-size: 20px;
    margin: 0 0 24px;
  }

  .modal__close-btn {
    margin: 0 0;
    top: 12px;
    right: 12px;
  }

  .modal__form {
    height: 248px;
    max-width: 579px;
  }

  .modal__label {
    text-align: left;
    margin: 0 0 12px;
  }

  .modal__input {
    text-align: left;
    font-size: 16px;
  }

  .modal__submit-btn {
    align-items: center;
    max-width: none;
    height: 52px;
  }
}
