.profile {
  display: flex;
  padding: 34px 0 20px;
  border-bottom: 1px rgba(33, 33, 33, 0.4) solid;
}

.profile__add-button {
  margin-left: auto;
  width: 149px;
  font-size: 16px;
  font-weight: 500;
  height: 52px;
  background-color: #212121;
  color: #fcf5e5;
  border-radius: 8px;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  align-self: flex-end;
  cursor: pointer;
  border: none;
}

.profile__add-button:hover {
  opacity: 80%;
}

.profile__avatar {
  margin-right: 20px;
  height: 190px;
  width: 190px;
  border-radius: 8px;
}

.profile__column {
  display: flex;
  flex-direction: column;
}

.profile__name {
  margin: 0 0 12px;
  font-size: 32px;
  font-weight: 500;
  line-height: 1;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  max-width: 420px;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
}

.profile__description {
  color: #212121b2;
  margin: 0;
  font-size: 16px;
  font-weight: 500;
  line-height: 1;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  max-width: 420px;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
}

.profile__edit-button {
  display: flex;
  gap: 8px;
  margin-top: auto;
  font-size: 16px;
  font-weight: 500;
  max-width: 149px;
  background-color: transparent;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  border: none;
  letter-spacing: 0;
  opacity: 70%;
  cursor: pointer;
}

.profile__edit-button:hover {
  opacity: 100%;
}

.profile__add-icon {
  width: 12px;
  height: 12px;
}

@media screen and (max-width: 627px) {
  .profile {
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 20px;
  }

  .profile__avatar {
    margin-right: 0;
    height: 80px;
    width: 80px;
    margin-bottom: 12px;
  }

  .profile__name {
    font-size: 20px;
    line-height: 1;
    margin: 0 0 6px;
    max-width: 288px;
  }

  .profile__description {
    margin-bottom: 32px;
    max-width: 288px;
  }

  .profile__add-button {
    margin: 0;
    width: 100%;
  }

  .profile__column {
    align-items: center;
    margin: 0 0 20px;
  }
}
